# Virtual environments
venv/
.venv/
..venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Python build
Lib/
Include/
Scripts/
pyvenv.cfg

venv/
.venv/
..venv/
.venvv/
backend/venv/
__pycache__/
*.pyc
.env